#textInput {
    border: 1px solid #00284d;
    /* border-bottom: 3px solid rgb(98, 0, 255); */
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #00284d;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    border-color: rgb(4, 4, 95);
    padding: 10px;
    border-radius: 2px;
    color: rgb(4, 4, 95);
}
.btn-success{
    background-color:rgb(4, 4, 95)
}
.btn-success:hover {
    background-color: rgb(78, 0, 0)
}